[build]
command = "npm run build"
publish = "build/client"

[build.environment]
NODE_VERSION = "18"

[dev]
command = "npm run dev"
framework = "vite"

[[headers]]
for = "/build/*"
[headers.values]
"Cache-Control" = "public, max-age=31560000, immutable"
